@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,800;1,500&display=swap');

$black: #000;
$white: #fff;

$primary-font: 'Raleway', sans-serif;

$primary-color: #0068FF;
$primary-color-light: #cce1ff;

$text-color: #fff;
