@import "~sireno-grid/src/sireno-grid";
@import "variables";
@import "transitions";
@import "settings";



html.widget-wrapper {
  overflow: hidden;
}

html,
body {
  background: transparent;
}


.v-color-picker__input {
  input {
    color: $white;
  }
}
