@import '../variables';

.contest {
  font-family: $primary-font;
  text-align: center;
  width: 100%;
  color: $white;

  h1 {
    text-align: center;
    font-size: 40px;
    text-shadow: $black 0 0 4px;
  }

}
