@import '../variables';
$animationDuration: 0.3s;
@import './node_modules/vue2-animate/src/sass/vue2-animate';

.chat {
  font-family: $primary-font;
  text-align: center;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  color: $text-color;
  font-size: 18px;

  img {
    max-width: 100%;
    height: auto;
  }

  ul {
    height: 400px;
    overflow: hidden;
    width: 100%;
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column-reverse;

    li {
      margin-bottom: 6px;
      color: $text-color;
      padding: 10px;
      padding-left: 46px;
      position: relative;

      .profile-image {
        width: 30px;
        height: 30px;
        border-radius: 999px;
        position: absolute;
        left: 10px;
        top: 8px;
        overflow: hidden;
        text-align: center;
        img {
          width: 30px;
          height: auto;
        }
      }
      .message {
        font-weight: bold;
      }

      .author {
        margin-right: 6px;
      }

    }
  }
}
