@import '../_variables.scss';

.brand {
  font-family: $primary-font;
  text-align: center;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  img {
    max-width: 100%;
    height: auto;
  }
}
