@import '../variables';

.contest-scene-widget {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .grid-row {
    display: flex;
  }

  .scene-chat {
    padding-top: 10vh;
    padding-bottom: 10vh;
    .chat {
      height: 80vh;
    }
  }
}