.clock-sphere {
  position: relative;
  svg {
    circle {
      transition: all ease-in-out .2s;
    }
  }

  .clock-sphere-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h3 {
      font-size: 40px;
    }
    span {

    }
  }
}
