@import '../variables';

.sponsors {
  overflow: hidden;
  font-family: $primary-font;
  text-align: center;
  background: $primary-color;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  .sponsor {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}
